@import './themes.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  font-family: var(--cuerpo);
  background-color: var(--bg-100);
  color: var(--text-100);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--gap);
}

.grid {
  display: grid;
  gap: var(--gap);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
